<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h1>Server Rendering</h1>
            <p>Node js</p>
            <p>Use ejs to insert dynamic data</p>
            <% if(nodeTopics.length>0) { %>
             <% nodeTopics.forEach(topic=>{ %>
               <h1> <%= topic.title %> </h1> 
                <p>
                    <%= topic.snippets %>
                </p>
                <% }) %>
            <% } else {%>
<p> no topics</p>
                <%}%>
         <%- include('./partials/footer.ejs') %>
    </body>

</html>